---
import AdminLayout from "../../layouts/AdminLayout.astro";

const title = "Manage Admins";
---

<AdminLayout title={title} selectedItem="admins">
  <div class="admin-container">
    <div class="admin-header">
      <h1>Manage Admins</h1>
    </div>
</AdminLayout>