---
import AdminLayout from "../../layouts/AdminLayout.astro";

const title = "Assignments";
---

<AdminLayout title={title} selectedItem="assignments">
  <div class="admin-assignments">
    <div class="admin-header">
      <h1>Manage Assignments</h1>
      <p>Create and manage assignments for your students</p>
   </div>
  </div>
</AdminLayout>