---
import AdminLayout from "../../layouts/AdminLayout.astro";

const title = "Students";
---

<AdminLayout title={title} selectedItem="students">
  <div class="admin-students">
    <div class="admin-header">
      <h1>Manage Students</h1>
      <p>View and manage all students in your classes</p>
    </div>
  </div>
</AdminLayout>